{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <title>Home</title>
</head>
<body>
<div class="wrapper">
    <h2 class="main_title">Гостевая книга</h2>
    <div class="main_block">
        <div>{{form.non_field_errors}}</div>
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn" type="submit" placeholder="Добавить">
        </form>
    </div>
</div>
</body>
</html>