{% extends 'base.html' %}
{% load static %}
{% block add_new_link %}
<i class="fa-regular fa-plus"></i> Добавить новую запись
{% endblock %}
{% block book_item %}
    <h1 class="delete_title">Вы точно хотите удалить запись?</h1>
    <form class="delete_form" method="POST" action="{% url 'delete_entry' guest_book.pk %}">
        {% csrf_token %}
        <input class="btn green" type="submit" value="Confirm">
        <a class="btn red" href="{% url 'index' %}">Cancel</a>
    </form>
{% endblock %}
