{% extends 'base.html' %}
{% load static %}
{% block add_new_link %}
<i class="fa-regular fa-plus"></i> Добавить новую запись
{% endblock %}
{% block book_item %}
<div>{{form.non_field_errors}}</div>
<form method="POST" action="{% url 'edit_entry' guest_book.pk %}">
    {% csrf_token %}
    {% for f in form %}
    <p class="input_item"><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    {% endfor %}
    <input class="btn green" type="submit" placeholder="Добавить">
</form>
{% endblock %}
