{% extends 'base.html' %}
{% load static %}
{% block add_new_link %}
<i class="fa-regular fa-plus"></i> Добавить новую запись
{% endblock %}
{% block book_item %}
<div>{{form.non_field_errors}}</div>
<form method="POST" action="{% url 'edit_entry' guest_book.pk %}">
    {% csrf_token %}
    <p><label>Имя</label> <input type="text" name="title" value="{{ guest_book.name }}"></p>
    <p><label>Мыло</label> <input type="text" name="author" value="{{ guest_book.mail }}"></p>
    <p><label>Текст</label> <textarea name="text">{{ guest_book.text }}</textarea></p>
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}
