{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <title>Home</title>
</head>
<body>
<div class="wrapper">
    <h2 class="main_title">Гостевая книга</h2>
    <div class="main_block">
        <div class="book_block">
            {% for guest_book in guest_books %}
            <div class="book_item">
                <div class="book_item_head">
                    <h3 class="guest_name">
                        {{guest_book.name}}
                        <span class="guest_mail">({{guest_book.mail}})</span>
                    </h3>
                    <form action="">
                        <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href=""><i class="fa-solid fa-trash"></i></a>
                    </form>
                </div>
                <p class="book_text">{{guest_book.text}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>