{% extends 'base.html' %}
{% load static %}
{% block add_new_link %}
<i class="fa-regular fa-plus"></i> Добавить новую запись
{% endblock %}
{% block book_item %}
{% for guest_book in guest_books %}
<div class="book_item">
    <div class="book_item_head">
        <h3 class="guest_name">
            {{guest_book.name}}
            <span class="guest_mail">({{guest_book.mail}})</span>
        </h3>
        <form action="">
            <a href="{% url 'edit_entry' guest_book.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="{% url 'delete_entry' guest_book.pk %}"><i class="fa-solid fa-trash"></i></a>
        </form>
    </div>
    <p class="book_text">{{guest_book.text}}</p>
</div>
{% endfor %}
{% endblock %}

